*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
/* diamo lo stesso font family a tutto il body */
 body{
    font-family: 'Fredoka', sans-serif;
 }
/* Creiamo il container che verra usato per footer e main */
 .container{
    width: 1300px;
    margin: 0 auto; 
    margin-bottom: 50px;
 }
/* Nel footer sistemiamo h1 e p */
 footer h1{
    text-align: center;
    font-size: 40px;
    color: rgb(236, 59, 88);
    margin-top: 10px;
    margin-bottom: 80px;
 }
 footer p{
    text-align: center;
 }

/* Sistemiamo la row dentro il main */
 main .row{
    width: 100%;
    margin-bottom: 20px;
 }
.row:after{
    clear: both;
    content: '';
    display: table;
 }
 /* Sistemiamo con float le colonne dentro la row */
 .row .colonna{
    margin: 10px;
    float: left;
    width: calc(100% / 3 - 20px);   
 }
 /* Sistemiamo i contenuti dentro content */
 .colonna .content{
    float: left;
    color: white;  
 }
 .colonna:after{
    clear: both;
    content: '';
    display: table;
 }
 img{
    height: 120px;
    border:gray;
    box-shadow: 1px 1px 15px 1px rgb(196, 196, 196);
 }
 .content.dati_dipendente{
    background-color: rgb(15,14,23);
    width: 68%;
    height: 120px;
    line-height: 30px;
    padding: 20px;
    border:gray;
    box-shadow: 7px 1px 15px 1px rgb(196, 196, 196);
 }
  .email_dipendente{
    color: rgb(8, 206, 255);
  }